.app{
    /*Boxes*/
    margin: 0;
    padding: 0;
    border: 0;
}
.navBarContainer{
    position: sticky;
    top: 0;
    z-index: 1;
}
.contentConatiner{
    z-index: -1;
}
.noteClass{
    display:flex;
    justify-content: center;
}